/* Variables */

:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-gray-green: #367315;
  --basic-navyblue: #293449;
  --basic-grey: #3D546F;
  --basic-blue-lilac: #32425C;
  --basic-greylight: #C5C5C5;
  --basic-ultra-greylight:  #F7F3EC;
  --basic-background: #F1F5F7;
  --basic-background-greylight: #F9F5F0;
  --basic-grayish-blue: #F3F7F9;
  --basic-black: #000000;
  --basic-white: #ffffff;

  --special-yellow: #FFBF47;
  --special-orange: #FFC047;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --success: #5FBB2D;
  --special-red-dark: #BA2732;
  --special-red-light: #CA2C37;
  --special-grey: #A9A9A9;
  --special-gray-blue: #405069;
  --special-purplish-blue: #1D2739;
  --special-purplish-blue-dark: #161D29;
  --special-gray-blue-dark: #3D546F;
  --special-greenlight-ultra: linear-gradient(180deg,#FFFFFF 0%,rgba(255,255,255,0)100%),#EAEAEA;
}

/* Global */
body {
  width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: var(--basic-black);
}

.page a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto
}

.btn {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
  outline: none;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px
}

/*Использовать для скрытия некоторых обектов*/
.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden
}

/* Main header */

.main-header {
 background-color: var(--basic-background);
}

.header-logo {
  width: 160px;
  height: 42px;
  background-color: var(--basic-red);
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.header-logo:active {
  background-color: var(--special-red-dark);
}

.top-menu {
  font: inherit;
  background-color: var(--basic-navyblue);
}

.top-menu-list {
  list-style: none;
}

.top-menu-list a {
  color: var(--basic-white);
}

.header-search label {
  color: var(--basic-white);
}

.search-menu {
  background-color: var(--basic-navyblue);
  outline: 0;
}
.search-menu:focus {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.bookmarks:active {
  background-color: var(--special-purplish-blue-dark);
}

.order {
  background-color: var(--basic-green);
}

.order:hover {
  background-color: var(--success);
}

.order:active,
.cart:active,
.bookmarks:active {
  opacity: 50%;
}

.promo-text {
  color: var(--basic-red);
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
}

.header-phone {
  color: var(--basic-red);
  font-size: 21px;
  line-height: 30px;
  border: 3px solid var(--basic-white);
}

.header-address {
  color: var(--basic-blue-lilac);
}

.login-link,
.check-in-link {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}
.user-info-list,
.order-info-list {
  list-style: none;
}

.user-name a {
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}

.user-avatar a,
.login-out a {
  background-color: var(--basic-greylight);
}

.user-avatar a:hover,
.login-out a:hover {
  background-color: var(--special-gray-blue-dark);
}

.user-name a:active {
  color: var(--basic-greylight);
}

.user-avatar a:active,
.login-out a:active {
  background-color: var(--basic-greylight);
}

.order-info-list a {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-blue-lilac);
}

.order-info-list a:hover {
  color: var(--basic-red);
}

.order-info-list a:active {
  color: var(--basic-greylight);
}

/* Main navigation*/

.main-navigation {
 font: inherit;
  color: var(--basic-white);
  background-color: var(--basic-blue-lilac);
  box-shadow: inset 0 -5px 0 var(--basic-navyblue)
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: var(--basic-white);
}

.site-navigation a:hover {
  background-color: var(--basic-navyblue);
}

.site-navigation a:active {
  background-color: var(--special-purplish-blue);
  opacity: 50%;
}

.promo-list {
  list-style: none;

}

.promo-item-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
}

.promo-list a {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background: rgba(255,255,255,0.3) ;
}

.promo-list a:hover {
  background: rgba(197,197,197,0.3);
}

.promo-list a:active {
  background: rgba(169,169,169,0.3);
 }

.promo-item.material {
  background-color: var(--special-yellow);;
}

.promo-item.tools {
  background-color: var(--special-blue);
}

.promo-item.technics {
  background-color: var(--special-lilac);
}

.promo-item.discount {
  background-color: var(--special-greenlight);
}

.promo-item.supply {
  background-color: var(--special-orange);
}

.slider-list {
  list-style: none;
}

.slider-item {
    background: rgba(0, 0, 0, 0.25);
}

.slider-item h3 {
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-white);
}

.slider-item p {
  font: inherit;
  color: var(--basic-white);

}

.slider-btn:hover {
  background-color: var(--special-red-light);
}

.slider-btn:active {
  background-color: var(--special-red-dark);
}

.popular-goods-list {
  list-style: none;
}

.popular-goods h2,
.popular-manufacture h2,
.services h2,
.company-info h2,
.contacts h2,
.services h3 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.popular-goods h2,
.popular-manufacture h2 {
  color: var(--basic-blue-lilac) ;
  background-color: var(--basic-background-greylight);

}
.popular-goods-item {
  background-color: var(--basic-white);
}

.product-item-title {
  font-family: PT Sans, Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
}

.old-price {
  font-family: PT Sans, Arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-decoration-line: line-through;
  text-transform: uppercase;
  color: var(--special-grey);
}

.new-price-btn {
  font-family: PT Sans, Arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
}

.new {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  text-transform: uppercase;
}

.popular-manufacture-list {
  list-style: none;
}

.services p,
.company-info p,
.contacts p {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.services-list {
  list-style: none;
}

.services-list li {
  background: var(--basic-blue-lilac);
  box-shadow: 0 1px 0 var(--basic-navyblue), inset 0 1px 0 var(--special-gray-blue);
}

.services-list a {
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: var(--basic-white);
}

.services-list .current {
  background-color: var(--basic-white);
  box-shadow: 0 1px 0 var(--basic-white);, inset 0 1px 0 var(--basic-white);;
}

.current a {
  color: var(--basic-blue-lilac);
}

.services-list li:hover:not(.current)  {
  background: var(--basic-navyblue);
  box-shadow: 0 1px 0 var(--basic-navyblue), inset 0 1px 0 var(--special-gray-blue);
}

.transport-company-list {
  list-style: none;
}
.main-footer {
  background-color: var(--basic-blue-lilac);
}
.footer-logo {
  width: 220px;
  height: 68px;
  background-color: var(--basic-red);
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}
.footer-navigation {
  list-style: none;
}

.footer-navigation a {
  color: var(--basic-background);
}

.footer-contacts,
.footer-phone {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-grayish-blue);
}

.footer-catalog-list {
  list-style: none;
}

.footer-catalog-list a {
  font-size: 18px;
  line-height: 24px;
  color: var(--special-yellowlight);
}

.footer-navigation a:hover,
.footer-catalog-list a:hover {
  text-decoration-line: underline;
}

.footer-navigation a:active,
.footer-catalog-list a:active {
  opacity: 50%;
}

.socials {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-navyblue);
}

.socials-list {
  list-style: none;
}

.socials-list a {
  color: var(--basic-white);
}

.footer-feedback,
.developed {
  color: var(--special-yellowlight);
}

/* Catalog */

.page-title {
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-blue-lilac);
  text-transform: uppercase;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
}

.filters-title {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-ultra-greylight);
}

.sorting {
  background-color: var(--basic-ultra-greylight);
}

.sorting-title {
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
  text-decoration-style: dotted;
}

.sorting span {
  font-family: PT Sans, Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration-style: dotted;
  text-decoration-color: red;
  background-color: var(--basic-ultra-greylight);
}

.sorting span:not(.current) {
  opacity: 30%;
}

.sorting span.current {
  color: var(--basic-red);
}

.sorting span:hover {
  color: var(--basic-black);
  text-decoration: var(--basic-red) underline;
  cursor: pointer;
  opacity: 100%;
}

.sorting span:active {
  color: var(--basic-red);
  text-decoration: none;
}

.product-item-buy {
  background-color: var(--basic-green);
  box-shadow: inset 0 -3px 0  var(--basic-gray-green);
  border-radius: 2px;
}

.product-item-bookmarks {
  color: var(--basic-blue-lilac);
  background-color: var(--basic-white);
  border: 3px solid var(--basic-green);
  border-radius: 2px;
}

.pagination {
  list-style: none;
}
.pagination a {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
}

.page-pagination-current {
  background-color: var(--basic-red);
}

.page-pagination-current a {
  color: var(--basic-white);
}

.info-products h2 {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.info-products p {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
}

