/* Variables */

:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-gray-green: #367315;
  --basic-navyblue: #293449;
  --basic-grey: #3D546F;
  --basic-blue-lilac: #32425C;
  --basic-graylight: #C5C5C5;
  --basic-super-graylight: #EAEAEA;
  --basic-grayish: #E5E5E5;
  --basic-ultra-graylight: #F7F3EC;
  --basic-background: #F1F5F7;
  --basic-background-graylight: #F9F5F0;
  --basic-light-white: #F2F6F8;
  --basic-grayish-blue: #F3F7F9;
  --basic-smoky-white: #F4F4F4;
  --basic-black: #000000;
  --basic-black-blue: #212A3A;
  --basic-white: #ffffff;

  --special-yellow: #FFBF47;
  --special-orange: #FFC047;
  --special-blue: #3BBCE3;
  --special-yellowlight: #FFD180;
  --special-lilac: #DC91D8;

  --special-greenlight: #8ED78F;
  --special-greenmoderate: #00CA74;
  --success: #5FBB2D;
  --special-greendark: #518534;
  --special-red-dark: #BA2732;
  --special-red-light: #CA2C37;
  --special-gray: #A9A9A9;
  --special-graybar: #ABABAB;
  --special-greynight: #D7DCDE;
  --special-graylight: #B5B5B5;
  --special-gray-blue: #405069;
  --special-purplish-blue: #1D2739;
  --special-purplish-blue-dark: #161D29;
  --special-gray-blue-dark: #3D546F;


  --special-greenlight-ultra: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #EAEAEA;
}

@keyframes shaker {
  0%, 100% {
    transform: translate(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translate(10px);
  }
  20%, 40%, 60%, 80% {
    transform: translate(-10px);
  }
}

@keyframes stretching {
  0% {
    transform: translateY(100px);
  }
  50% {
    transform: translateY(15px);
  }
  90% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

/*@keyframes stretching {
  0%, 20% {
    -webkit-transform: scale(.1);
    transform: scale(.1);
    opacity: .1
  }
  70%, 80% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
    opacity: .8
  }
  90%, to {
    opacity: 1
  }
}*/

/* Global */
body {
  width: auto;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: var(--basic-black);
}

.page a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto
}

.btn {
  display: inline-block;
  padding: 11px 0 9px 0;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: var(--basic-red);
  border: none;
  outline: none;
}

.btn:hover {
  background-color: var(--special-red-light);
  cursor: pointer;
}

.btn:active {
  background-color: var(--special-red-dark);
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

/*Использовать для скрытия некоторых обектов*/

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden
}

/* Grid*/

.page {
  height: 100%;

}

.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-height: 100vh;
}

/* Main header */

.main-header {
  min-height: 320px;
  margin-bottom: 41px;
  background-color: var(--basic-background);
}

/* Main navigation*/
.main-navigation {
  color: var(--basic-white);
}


/* Top-menu*/

.top-menu .container {
  display: grid;
  grid-template-columns: 220px 270px auto;
}

.top-menu {
  position: relative;
  /*margin-bottom: 45px;*/
  background-color: var(--basic-navyblue);
}

.top-menu-list {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  margin: 0;
  padding: 0;
  list-style: none;
}


.inner-page .top-menu-list {
  display: grid;
  grid-template-columns: 164px 136px 150px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.top-menu-list li {
  position: relative;
  padding: 10px 0 8px 0;
}


.top-menu-list a {
  color: var(--basic-white);
}

/*Logo*/

.main-header-logo:before {
  content: " ";
  position: absolute;
  width: 220px;
  height: 47px;
  background-color: var(--basic-red);
  background-image: url("../img/logo-technomart.svg");
  background-repeat: no-repeat;
  background-position: 55px 12px;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.main-header-logo:active {
  background-color: var(--special-red-dark);
}

.header-search {
  position: relative;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.input-search {
  display: block;
  width: 270px;
  height: 42px;
  margin: 0;
  padding: 0 0 0 42px;
  background-color: var(--basic-navyblue);
  border: none;
  outline: none;
}

.btn-search {
  position: absolute;
  width: 17px;
  height: 17px;
  top: 11px;
  left: 11px;
  border: none;
  outline: 0;
  background-color: transparent;
  opacity: 0.3;
}

.header-search:hover .btn-search {
  opacity: 1.0;
  cursor: pointer;
}

.header-search:active .btn-search {
  opacity: 0.5;
}

.header-search::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);

}

.input-search:focus + .btn-search path {
  fill: var(--basic-red);
}

.input-search:focus {
  background-color: var(--basic-white);
}

.input-search:focus::placeholder {
  color: var(--basic-black);
}

.input-search::placeholder {
  font-style: normal;
  font-weight: normal;
  color: var(--basic-white);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.bookmarks a {
  position: relative;
  padding-left: 43px;

}

.bookmarks a:before {
  position: absolute;
  top: 2px;
  left: 20px;
  content: " ";
  width: 14px;
  height: 16px;
  background-image: url("../img/icon-bookmark.svg");
  opacity: 30%;
}

.bookmarks a:hover:before {
  opacity: 1.0;
}

.bookmarks:active {
  background-color: var(--special-purplish-blue-dark);
}

.user-cart a {
  display: block;
  position: relative;
  padding-left: 49px;
}

.inner-page .user-cart a {
  padding-left: 35px;
}

.user-cart a:before {
  position: absolute;
  top: 3px;
  left: 26px;
  content: " ";
  width: 15px;
  height: 15px;
  background-image: url("../img/icon-truck.svg");
  opacity: 30%;
}

.inner-page .user-cart a:before {
  top: 3px;
  left: 12px;
}

.user-cart:active {
  opacity: 50%;
}

.user-cart a:hover:before {
  opacity: 1.0;
}

.inner-page .user-cart {
  background-color: var(--basic-red);
}

.order {
  background-color: var(--basic-green);
}

.order a {
  padding-left: 19px;
}

.order:hover {
  background-color: var(--success);
  cursor: pointer;
}

.order:active,
.cart:active,
.bookmarks:active {
  opacity: 50%;
}

/* User-navigation*/

.user-navigation-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  /*align-items: flex-end;*/
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.promo-text {
  margin: 0;
  padding: 42px 0 0 31px;
  color: var(--basic-red);
  font-size: 16px;
  line-height: 24px;
  font-style: italic;
  font-weight: normal;
}

.header-contact {
  margin: 0;
  padding: 0;
  justify-content: flex-start;
  padding-top: 46px;
}

.header-phone {
  display: inline-block;
  position: relative;
  padding: 4px 42px 5px 72px;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
  border: 3px solid var(--basic-white);
}

.header-phone:before {
  position: absolute;
  top: 10px;
  left: 36px;
  content: " ";
  width: 17px;
  height: 18px;
  background-image: url("../img/phone-icon.svg");
}

.header-address {
  margin: 0;
  padding: 3px 0 0 11px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-blue-lilac);
}

.user-login {
  margin: 0;
  padding: 0;
}

.user-login-list {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  list-style: none;
}

.user-login-list li {
  margin: 0;
  padding: 58px 0 0 10px;
}

.login-link,
.check-in-link {
  margin: 0;
  padding: 0;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.login-link {
  position: relative;
  padding: 11px 27px 11px 46px;
}

.check-in-link {
  padding: 11px 24px;
}

.login-link:hover,
.check-in-link:hover {
  color: var(--basic-red);
  cursor: pointer;
}

.login-link:active,
.check-in-link:active {
  color: var(--basic-graylight);
}

.login-link:before,
.login-link:active:before {
  content: " ";
  position: absolute;
  top: 14px;
  left: 19px;
  width: 20px;
  height: 17px;
  background-image: url("../img/icon-login.svg");
}

.login-link:hover:before {
  background-image: url("../img/icon-login-hover.svg");
}

.login-link:active:before {
  background-image: url("../img/icon-login.svg");
}


.user-info {
  position: relative;
  margin-top: 46px;
}

.user-info-list,
.order-info-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-info-list {
  display: flex;
  background-color: var(--basic-white);
  margin-bottom: 7px;
}

.user-name {
  width: 300px;
  padding: 12px 0;
}

.user-name p {
  margin: 0;
  padding: 0;
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: var(--basic-black);
}

.user-name p:active {
  color: var(--special-graylight);
}

.user-name:before {
  content: " ";
  position: absolute;
  top: 13px;
  left: 16px;
  width: 20px;
  height: 18px;
  background-image: url("../img/avatar-icon.svg");
}

.user-name:hover:before {
  content: " ";
  position: absolute;
  top: 13px;
  left: 16px;
  width: 20px;
  height: 18px;
  background-image: url("../img/avatar-hover.svg");
}

.user-name:active:before {
  content: " ";
  position: absolute;
  top: 13px;
  left: 16px;
  width: 21px;
  height: 18px;
  background-image: url("../img/avatar-active.svg");
}

.user-name:after {
  content: " ";
  position: absolute;
  top: 14px;
  right: 17px;
  width: 20px;
  height: 17px;
  background-image: url("../img/icon-logout.svg");
}

.user-name:hover:after {
  content: " ";
  position: absolute;
  top: 14px;
  right: 17px;
  width: 20px;
  height: 17px;
  background-image: url("../img/icon-login-logout-hover.svg");
}

.user-name:active:after {
  content: " ";
  position: absolute;
  top: 14px;
  right: 17px;
  width: 20px;
  height: 17px;
  background-image: url("../img/icon-logout.svg");
}

.order-info-list {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 4px 45px;
}

.order-info-item {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-blue-lilac);
}

.order-info-list:hover .order-info-item {
  color: var(--basic-red);
  cursor: pointer;
}

.order-info-list:active .order-info-item {
  color: var(--basic-graylight);
}

.dot {
  position: absolute;
  top: 7px;
  left: 89px;
  width: 4px;
  height: 4px;
  /*margin: 0 15px;*/
  font-size: 0;
  background: linear-gradient(0deg, var(--basic-blue-lilac), var(--basic-blue-lilac)), var(--basic-white);
  border: 0;
  border-radius: 50%;
  outline: 0
}

.order-info-list:hover .dot {
  background: var(--basic-red);
  cursor: pointer;
}

.order-info-list:active .dot {
  background: var(--basic-graylight);
}

/* Site navigation */

.main-navigation-wrapper {
  position: absolute;
  right: 0;
  left: 0;
  top: 200px;
  bottom: 0;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.site-navigation {
  grid-column: 2 / 8;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: var(--basic-blue-lilac);
  box-shadow: inset 0 -5px 0 var(--basic-navyblue);
}

.site-navigation a {
  display: block;
  margin: 0;
  padding: 17px 0 19px 0;
  font-style: normal;
  font-weight: normal;
  color: var(--basic-white);
}

a.site-navigation-index {
  padding-left: 54px;
  padding-right: 28px;
}

a.site-navigation-company {
  padding-left: 28px;
  padding-right: 29px;
}

a.site-navigation-catalog {
  padding-left: 27px;
  padding-right: 28px;
}

a.site-navigation-news {
  padding-left: 29px;
  padding-right: 28px;
}

a.site-navigation-offer {
  padding-left: 29px;
  padding-right: 28px;
}

a.site-navigation-delivery {
  padding-left: 28px;
  padding-right: 28px;
}

a.site-navigation-contacts {
  padding-left: 28px;
  padding-right: 53px;
}

.site-navigation a:hover {
  background-color: var(--basic-navyblue);
  cursor: pointer;
}

.site-navigation a:active {
  background-color: var(--special-purplish-blue);
  opacity: 50%;
}

/* Main Index-page*/

/* Promo*/

.promo {
  position: relative;
}

.promo-list {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 123px 123px 123px;
  gap: 20px;
  grid-template-areas:
    "yellow blue lilac"
    ".      .    green"
    ".      .    orange";
  margin-bottom: 60px;
  padding: 0;
  list-style: none;
}

.promo-item {
  position: relative;
}

.promo-item-title {
  margin: 0;
  padding: 21px 0 13px 23px;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
}

.promo-list a {
  display: block;
  width: 135px;
  margin-left: 22px;
  padding: 10px 0;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  background: rgba(255, 255, 255, 0.3);
}

.promo-list a:hover {
  background: rgba(197, 197, 197, 0.3);
  cursor: pointer;
}

.promo-list a:active {
  background: rgba(169, 169, 169, 0.3);
}

.promo-item.material {
  grid-area: yellow;
  background-color: var(--special-yellow);
}

.material:before {
  content: " ";
  position: absolute;
  top: 31px;
  right: 43px;
  width: 44px;
  height: 65px;
  background-image: url("../img/icon-bucket.svg");
}

.promo-item.tools {
  grid-area: blue;
  background-color: var(--special-blue);
}

.tools:before {
  content: " ";
  position: absolute;
  top: 34px;
  right: 31px;
  width: 75px;
  height: 61px;
  background-image: url("../img/icon-drill.svg");
}

.promo-item.technics {
  grid-area: lilac;
  background-color: var(--special-lilac);
}

.technics:before {
  content: " ";
  position: absolute;
  top: 31px;
  right: 31px;
  width: 78px;
  height: 62px;
  background-image: url("../img/icon-tractor.svg");
}

.promo-item.discount {
  grid-area: green;
  background-color: var(--special-greenlight);
}

.discount:before {
  content: " ";
  position: absolute;
  top: 26px;
  right: 45px;
  width: 59px;
  height: 73px;
  background-image: url("../img/icon-busket.svg");
}

.discount .promo-item-title {
  padding-bottom: 11px;
}

.supply .promo-item-title {
  padding-bottom: 12px;
}

.promo-item.supply {
  grid-area: orange;
  background-color: var(--special-orange);
}

.supply:before {
  content: " ";
  position: absolute;
  top: 32px;
  right: 31px;
  width: 78px;
  height: 63px;
  background-image: url("../img/icon-delivery.svg");
}

.slide-wrapper {
  position: absolute;
  width: 620px;
  height: 266px;
  top: 160px;

  background-repeat: no-repeat;
  background-color: var(--basic-background);
}

.slide-wrapper-1 {
  background-image: url("../img/perforator.jpg");
}

.slide-wrapper-2 {
  background-image: url("../img/drill.jpg");
}

.slider {
  position: relative;
  color: var(--basic-white);
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;

}

.slider-item {
  /*position: absolute;*/
  margin: 0;
  padding: 0;
  padding-left: 24px;
}

.slide {
  display: none;

}

.slide-current {
  display: block;
}

.slide-title {
  margin: 23px 0 6px 0;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.slider-item p {
  margin: 0 0 113px 0;
  line-height: 24px;

}

.slider-btn {
  width: 192px;
}

.slider-controls {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 30px;
  left: 295px;
  top: 197px;
  z-index: 25;
}

.slider-controls .current {
  background-color: var(--basic-red);
}

.slider-controls button {
  padding: 0;
  width: 10px;
  height: 10px;
  border: 2px solid var(--basic-white);
  background-color: var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}

.controls-arrow-left {
  position: absolute;
  top: 100px;
  left: 24px;
  width: 21px;
  height: 41px;
  background-color: transparent;
  background-image: url("../img/arrow-left.svg");
  border: none;
  outline: none;
  cursor: pointer;
}

.controls-arrow-right {
  position: absolute;
  top: 100px;
  right: 21px;
  width: 21px;
  height: 41px;
  background-color: transparent;
  background-image: url("../img/arrow-right.svg");
  border: none;
  outline: none;
  cursor: pointer;
}

.index-columns-list {
  display: grid;
  grid-template-columns: 220px 220px 220px 220px;
  gap: 20px;
  margin-bottom: 70px;
  padding: 0;
  background-color: var(--basic-white);
  text-align: center;
  list-style: none;
  /*  outline: 5px solid rgba(255, 0, 0, 0.9);
    outline-offset: 5px;*/
}

.popular-goods,
.logo-company-list {
  position: relative;
}

.popular-goods h2,
.logo-company-list h2 {
  margin: 0 0 19px 0;
  padding: 29px 0 30px 28px;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  color: var(--basic-blue-lilac);
  background-color: var(--basic-background-graylight);
}

.popular-goods-btn,
.logo-company-list-btn {
  position: absolute;
  width: 192px;
  padding: 11px 0 9px 0;
  top: 24px;
  right: 14px;
}

.inner-catalog-list {
  display: grid;
  grid-template-columns: repeat(3, 220px);
  gap: 20px;
  margin-bottom: 50px;
  padding: 0;
  list-style: none;
}

.catalog-item {
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 316px;
  text-transform: uppercase;
  border: 1px solid var(--basic-super-graylight);
}

.catalog-item h3 {
  margin: 0;
  padding: 0;
  font-family: PT Sans, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  order: 1;
}

.catalog-item-image {
  display: flex;
  max-height: 50%;
  margin: auto;
  padding: 0;
}

.catalog-item-image img {
  height: 100%;
  margin: auto;
  padding: 0;
}

.catalog-category {
  margin: 0;
  padding: 0;
  display: block;
  text-transform: none;
}

.catalog-item-price {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: PT Sans, Arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: var(--special-gray);
  text-transform: uppercase;
  order: 2;
}

.catalog-item-price b {
  margin-top: 8px;
  margin-left: 2px;
  padding: 0;
  text-decoration: line-through;
}

.catalog-item-button {
  position: relative;
  width: 133px;
  margin: 12px 0 19px 43px;
  padding: 10px 0;
  background-color: var(--basic-red);
  border: 1px solid var(--basic-white);
  border-radius: 4px;
  text-transform: uppercase;
  color: var(--basic-white);
  cursor: pointer;
}

.catalog-item-button:after {
  content: '';
  position: absolute;
  top: 0;
  right: -25px;
  bottom: 0;
  border-top: 18px solid white;
  border-left: 18px solid var(--basic-red);
  border-right: 18px solid white;
  border-bottom: 18px solid white;
}

.new b {
  opacity: 0;
}

.catalog-item-popup {
  display: none;
  position: absolute;
  top: -1px;
  left: -1px;
  width: 218px;
  height: 316px;
  text-transform: uppercase;
  border: 1px solid var(--basic-super-graylight);
  background-color: var(--basic-white);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.catalog-item:hover .catalog-item-popup {
  display: block;
  cursor: pointer;
}

.catalog-item-popup h3 {
  width: 185px;
  margin: 0 20px 0 17px;
  font-family: PT Sans, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.popup-item-buy {
  position: relative;
  width: 135px;
  margin: 37px 41px 10px 40px;
  padding: 10px 0 10px 11px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background-color: var(--basic-green);
  box-shadow: inset 0 -3px 0 var(--basic-gray-green);
  border-radius: 2px;
  border: none;
  outline: 0;
}

.popup-item-buy:hover {
  background-color: var(--success);
  cursor: pointer;
}

.popup-item-buy:active {
  background-color: var(--special-greendark);
}

.popup-item-buy:before {
  content: " ";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 10px;
  left: 29px;
  background-image: url("../img/icon-cart.svg");
  opacity: 0.3;
}

.popup-item-bookmarks {
  position: relative;
  width: 135px;
  margin: 0 41px 56px 40px;
  padding: 8px 0 6px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-blue-lilac);
  text-transform: uppercase;
  background-color: var(--basic-white);
  border: 3px solid var(--basic-green);
  border-radius: 2px;
  outline: 0;
  z-index: 1;
}

.popup-item-bookmarks:hover {
  border: 3px solid var(--basic-blue-lilac);
  border-radius: 2px;
  cursor: pointer;
}

.catalog-item-popup b {
  margin-bottom: 0;
}

.popup-item-bookmarks:active {
  opacity: 50%;
}

.logo-company-item {
  width: 218px;
  height: 143px;
  border: 1px solid var(--basic-super-graylight);
}

.logo-company:nth-child(4n) {
  margin-right: 0;
}

.logo-company-item:hover {
  border: 1px solid var(--basic-super-graylight);
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
  cursor: pointer;
}

.logo-company-item:active {
  border: 1px solid var(--basic-super-graylight);
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
  opacity: 0.5;
}

.services {
  height: 522px;
  background-color: var(--basic-background);
}

.services-slider {
  display: flex;
  margin: 0;
  padding: 0;
  max-height: 333px;
}

.services h2,
.company-info h2,
.contacts h2,
.info-products h2 {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.services h2,
.contacts h2 {
  padding: 66px 0 24px 0;
}

.services p,
.company-info p,
.contacts p {
  margin: 0;
  padding: 0;
  font-family: PT Sans, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 25px;
}

.services p {
  margin: 0 0 67px 0;
  padding: 0;
}

.services-title-list {
  position: relative;
  margin-top: 2px;
  padding: 0;
  list-style: none;
}

.services-title-list:after {
  position: absolute;
  top: -43px;
  right: 0;
  content: " ";
  width: 10px;
  height: 279px;
  background-image: url("../img/Layer 118.svg");
}

.services-title-item {
  margin: 0;
  padding: 0;
  width: 240px;
  height: 62px;
  background: var(--basic-blue-lilac);
  box-shadow: 0 1px 0 var(--basic-navyblue), inset 0 1px 0 var(--special-gray-blue);
}

.services-title-item a {
  display: block;
  margin: 0;
  padding: 14px 0 0 22px;
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  color: var(--basic-white);
}

.services-title-list .current {
  background-color: var(--basic-white);
  box-shadow: 0 1px 0 var(--basic-white);, inset 0 1 px 0 var(--basic-white);;
}

.current a {
  color: var(--basic-blue-lilac);
}

.services-title-item:hover:not(.current) {
  background: var(--basic-navyblue);
  box-shadow: 0 1px 0 var(--basic-navyblue), inset 0 1px 0 var(--special-gray-blue);
}

.services-promo-wrapper {
  width: 710px;
  margin: 0;
  padding: 0;
}

.services-promo-wrapper-1 {
  background-image: url("../img/delivery.png");
  background-repeat: no-repeat;
  background-position: 231px 21px;
}

.services-promo-wrapper-2 {
  background-image: url("../img/garante.png");
  background-repeat: no-repeat;
  background-position: 320px 0;
}

.services-promo-wrapper-3 {
  background-image: url("../img/credit.png");
  background-repeat: no-repeat;
  background-position: 245px 0;
}

.services-promo-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-promo-item {
  position: relative;
  margin: 0;
  padding: 0 0 0 80px;
}

.services-promo {
  display: none;
}

.services-promo-current {
  display: block;
}

.services-promo-item h3 {
  margin: 0 0 28px 0;
  padding: 0;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-blue-lilac);
}

.services-promo-btn {
  display: block;
  margin: 0;
  width: 195px;
  border-radius: 4px;
}

.company-info-wrapper {
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 20px;
  margin-bottom: 70px;
}

.company-info h2 {
  padding: 72px 0 23px 0;
}

.contacts h2 {
  padding: 72px 0 22px 0;
}

.company-info p {
  margin: 0;
  padding: 0;
  font-family: PT Sans, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}

.contacts p {
  margin-bottom: -1px;
}

p.company-info-promotion {
  padding-bottom: 27px;
}

p.company-info-delivery {
  padding-bottom: 2px;
}

.transport-company-list {
  position: relative;
  list-style: none;
  margin: 0 0 19px 0;
  padding: 0;
}

.transport-company-item {
  position: relative;
  padding-left: 37px;
  margin-bottom: 12px;
}

.transport-company-list p {
  font-family: Cuprum, "PT Sans", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.transport-company-item:before {
  content: " ";
  position: absolute;
  top: 11px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
}

.company-info-btn {
  display: block;
  width: 220px;
}

.contacts {
  position: relative;
}

.contacts p {
  padding-bottom: 33px;
}

.contacts-btn {
  display: block;
  position: absolute;
  width: 300px;
  left: 0;
  bottom: 0;
}

/*Grid for Catalog*/

.page-catalog {
  display: grid;
  grid-template-columns: 220px 1fr;
  gap: 20px;
  align-content: start;
}

.container {
  display: grid;
}

.inner-page .page-title {
  grid-column: 1 / -1;
}

.inner-page .breadcrumbs {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.inner-page .main-header {
  margin: 0;
}

/* Catalog*/

.page-title {
  margin: 0 0 20px 0;
  padding: 30px 0 29px 29px;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-blue-lilac);
  background-color: var(--basic-light-white);
  text-transform: uppercase;
}

.breadcrumbs {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 17px 0 18px 0;
  list-style: none;
}

.breadcrumbs:before {
  content: " ";
  position: absolute;
  top: 24px;
  width: 14px;
  height: 12px;
  background-image: url("../img/icon-home.svg");
}

.breadcrumbs li {
  position: relative;
}

.breadcrumbs li:before {
  content: " ";
  position: absolute;
  top: 7px;
  left: -24px;
  width: 7px;
  height: 13px;
  background-image: url("../img/arrow-breadcrumbs.svg");
}

.breadcrumbs a {
  font-family: PT Sans, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.breadcrumbs-item-catalog {
  margin-left: 55px;
}

.breadcrumbs-item-tools {
  margin-left: 41px;
}

.breadcrumbs-item-perforator {
  margin-left: 43px;
}

/* Фильтры */

.filters {
  width: 220px;
  margin: 0 0 20px 0;
  padding: 0;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: 0;
}

.filter-input {
  display: none
}

.filters-title,
.sort-title {
  margin: 0;
  padding: 0;
  font-family: PT Sans, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: var(--basic-ultra-graylight);
}

.filters-title {
  margin: 0 0 13px 0;
  padding: 10px 0 10px 18px;
}


.filter legend {
  padding: 0;
  font-family: PT Sans, Arial, sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-option label {
  position: relative;
  display: block;
  padding-left: 35px;
  font-family: PT Sans, Arial, sans-serif;
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
}

.range-filter {
  width: 220px;
  margin-top: 11px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 9px;
  padding: 39px 20px 0 20px;
  background-color: var(--basic-ultra-graylight);
  border: 5px;
}

.range-controls .scale {
  height: 2px;
  background-color: var(--special-greynight);
}

.range-controls .bar {
  width: 152px;
  height: 2px;
  background-color: var(--special-greenmoderate);
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--special-graybar);
  border-radius: 50%;
  box-shadow: 0 2px 2px rgba(171, 171, 171, 0.3);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;
}

.price-controls input[value] {
  padding-left: 15px;
}

.price-controls input {
  width: 80px;
  padding: 10px 0;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: var(--basic-ultra-graylight);
  font-family: PT Sans, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 18px;
}

.divide {
  width: 30px;
  height: 18px;
  margin-top: 11px;
  background-image: url("../img/divide.svg");
  background-repeat: no-repeat;
  background-position: center;
}


.filter-producer {
  margin-top: 15px;
}

.filter-price:after,
.filter-producer:after {
  display: block;
  content: " ";
  border-width: 220px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);;
}

/* Чек-бокс */

.filter-producer ul {
  margin-top: 18px;
  padding-bottom: 8px;
}

.filter-checkbox {
  margin-bottom: 20px;
}

.filter-input-checkbox + label:before {
  position: absolute;
  left: 0;
  content: " ";
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  cursor: pointer;
}

.filter-input-checkbox:hover + label:before {
  position: absolute;
  left: 0;
  content: " ";
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  cursor: pointer;
}

.filter-input-checkbox:checked + label:before {
  position: absolute;
  left: 0;
  content: " ";
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off-current.svg");
  cursor: pointer;
}

.filter-input-checkbox:checked + label:after {
  position: absolute;
  left: 5px;
  content: " ";
  width: 23px;
  height: 17px;
  background-image: url("../img/checkbox-off-current-corner.svg");
  cursor: pointer;
}

.filter-input-checkbox:checked:hover + label:before {
  position: absolute;
  left: 0;
  content: " ";
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-on-current.svg");
  cursor: pointer;
}

.filter-input-checkbox:checked:hover + label:after {
  position: absolute;
  left: 5px;
  content: " ";
  width: 23px;
  height: 17px;
  background-image: url("../img/checkbox-on-current-corner.svg");
  cursor: pointer;
}

.filter-input-checkbox:disabled + label:before {
  position: absolute;
  left: 0;
  content: " ";
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-on-current.svg");
  opacity: 0.3;
  cursor: pointer;
}

.filter-input-checkbox:disabled + label:after {
  position: absolute;
  left: 5px;
  content: " ";
  width: 23px;
  height: 17px;
  background-image: url("../img/checkbox-on-current-corner.svg");
  opacity: 0.3;
  cursor: pointer;
}

/* Радио-баттон */

.filter-supply {
  margin-top: 17px;
}

.filter-supply ul {
  margin-top: 23px;
}

.filter-radio {
  margin-bottom: 23px;
}

.filter-input-radio + label:before {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  top: 2px;
  left: 4px;
  box-shadow: 0 0 0 4px var(--basic-graylight);
  border: 4px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
}

.filter-input-radio:hover + label:before {
  background-color: var(--special-graylight);
  box-shadow: 0 0 0 4px var(--special-graylight);
  border: 4px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
}

.filter-input-radio:checked + label:before {
  background-color: var(--basic-graylight);
  box-shadow: 0 0 0 4px var(--basic-graylight);
  border: 4px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
}

.filter-input-radio:checked:hover + label:before {
  background-color: var(--special-graylight);
  box-shadow: 0 0 0 4px var(--special-graylight);
  border: 4px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
}

.filter-input-radio:disabled + label:before {
  background-color: var(--basic-graylight);
  box-shadow: 0 0 0 4px var(--basic-graylight);
  border: 4px solid var(--basic-white);
  border-radius: 50%;
  opacity: 0.3;
}

.filter-input-checkbox:disabled + label,
.filter-input-radio:disabled + label {
  color: var(--basic-black);
  opacity: 0.4;
}

.filter-btn {
  width: 220px;
  margin-top: 14px;
  color: var(--basic-black);
  background: var(--basic-white);
  border: 1px solid var(--basic-grayish);
  box-sizing: border-box;
}

/* Сортировка */

.sort {
  display: grid;
  grid-template-columns: 220px 220px 220px;
  grid-template-rows: 38px;
  gap: 20px;
  grid-column: 2 / 3;
  margin: 0 0 28px 0;
  padding: 0;
  background-color: var(--basic-ultra-graylight);
}

.sort-title {
  padding: 10px 145px 10px 20px;
}

.sort-list {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sort-list li {
  margin: 0;
  padding: 10px 0;
  font-family: PT Sans, Arial, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
}

li.sort-item-by-price {
  margin-right: 71px;
}

.sort-item-up {
  padding-right: 21px;
}

.sort-item-up:before {
  display: block;
  content: " ";
  position: absolute;
  width: 11px;
  height: 10px;
  top: 14px;
  right: 48px;
  background-image: url("../img/gray-up.svg");

}

.sort-item-down:after {
  display: block;
  content: " ";
  position: absolute;
  width: 11px;
  height: 10px;
  top: 14px;
  right: 16px;
  background-image: url("../img/gray-down.svg");

}

.sort-item-up:hover:before {
  background-image: url("../img/black-up.svg");
}

.sort-item-down:hover:after {
  background-image: url("../img/black-down.svg");
}

.sort-item-up.current:before {
  display: block;
  content: " ";
  position: absolute;
  width: 11px;
  height: 10px;
  top: 14px;
  right: 48px;
  background-image: url("../img/red-up.svg");
}

.sort-item-down.current:after {
  display: block;
  content: " ";
  position: absolute;
  width: 11px;
  height: 10px;
  top: 14px;
  right: 16px;
  background-image: url("../img/red-down.svg");
}

.sort-list a {
  margin: 0;
  padding: 0;
  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  border-bottom: dotted 1px var(--basic-red);
  background-color: var(--basic-ultra-graylight);
  opacity: 30%;
}

.sort-list .current {
  color: var(--basic-red);
  border-bottom: none;
  opacity: 100%;
}

.sort a:hover {
  color: var(--basic-black);
  border-bottom: solid 1px var(--basic-red);
  cursor: pointer;
  opacity: 100%;
}

.sort a:active {
  color: var(--basic-red);
  border-bottom: none;
}

/* Pagination */

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 67px 0;
  padding: 0;
  list-style: none;
}

.pagination-item {
  margin-right: 10px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item a {
  display: block;
  padding: 10px 15px;
  font-family: PT Sans, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: 1px solid var(--basic-grayish);
  border-radius: 2px;
}

.pagination-item a:hover {
  border: 1px solid var(--basic-graylight);
  border-radius: 2px;
  cursor: pointer;
}

.pagination-item a:active {
  border: 1px solid var(--basic-red);
  border-radius: 2px;
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:active {
  color: var(--basic-white);
  border: 1px solid var(--basic-red);
  background-color: var(--basic-red);
  border-radius: 2px;
}

.info-products {
  height: 261px;
  margin-bottom: 0;
  padding: 0;
  background-color: var(--basic-background);
}

.info-products h2 {
  padding: 65px 0 23px 0;
}

.info-products p {
  margin: 0;
  padding: 0;
  font-family: PT Sans, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 25px;
}

/* Main footer*/

.main-footer {
  min-height: 300px;
  background-color: var(--basic-blue-lilac);
}

.main-footer-navigation {
  display: grid;
  grid-template-columns: 1fr 720px;
  margin: 0;
  padding: 0;
}

.footer-logo img {
  width: 220px;
  height: 67px;
}

.footer-site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: self-end;
  margin: 0;
  padding: 38px 0 0 0;
  list-style: none;
}

.footer-site-navigation a {
  display: block;
  margin: 0;
  padding: 0 0 0 59px;
  font-style: normal;
  font-weight: normal;
  color: var(--basic-background);
}

.footer-contacts {
  display: grid;
  grid-template-columns: 1fr 600px;
  margin: 0 0 54px 0;
  padding: 0;

}

.footer-contacts p,
.footer-phone {
  margin: 0;
  padding: 16px 0 0 2px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: var(--basic-grayish-blue);
}

.footer-catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 22px 0 0 0;
  padding: 0;
  list-style: none;
}

.footer-catalog-list a {
  display: block;
  margin: 0 0 0 59px;
  font-size: 18px;
  line-height: 24px;
  color: var(--special-yellowlight);
}

.footer-catalog-list a:last-child {
  margin-right: 0;
}

.footer-navigation a:hover,
.footer-catalog-list a:hover {
  text-decoration-line: underline;
  cursor: pointer;
}

.footer-navigation a:active,
.footer-catalog-list a:active {
  opacity: 50%;
}

.social-bar {
  margin: 0;
  padding: 0;
  background-color: var(--basic-navyblue);
}

.footer-social {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  width: 940px;
  min-height: 107px;
  margin: 0 auto;
  padding: 0 10px;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.copyright {
  padding: 20px 0 0 1px;
}

.socials-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 35px 0 0 71px;
  list-style: none;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 41px;
  height: 41px;
  margin-right: 4px;
  color: var(--basic-white);
  font-size: 0;
  border-radius: 50%;
  background: var(--basic-black-blue);
}

.social-icon:hover {
  color: var(--basic-white);
  background-color: var(--basic-red);
  cursor: pointer;
}

.social-icon:active {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.footer-feedback {
  display: flex;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  padding: 19px 0 0 1px;
}

.mail-feedback,
.developed {
  color: var(--special-yellowlight);
}

.mail-feedback {
  margin-right: 51px;
}

.mail-feedback:hover,
.developed:hover {
  text-decoration: underline var(--special-yellowlight);
  cursor: pointer;
}

.mail-feedback:active,
.developed:active {
  color: var(--basic-red);
  text-decoration: none;
}

.ribbon {
  flex-basis: 100%;
  z-index: 2;
}

.ribbon:before {
  position: absolute;
  content: " ";
  top: 0;
  right: -31px;
  height: 100px;
  width: 100px;
  background-image: url("../img/Rectangle 15.png");
  background-repeat: no-repeat;
  z-index: 2;
}

.ribbon:after {
  position: absolute;
  content: "New";
  right: 14px;
  top: 15px;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: white;
  text-transform: uppercase;
  transform: rotate(45deg);
  z-index: 3;
}

/* Modal Feedback*/

.modal {
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: var(--basic-white);
  border-top: 7px solid var(--basic-red);
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
  z-index: 10;
}

.modal-feedback {
  position: absolute;
  width: 620px;
  top: 2369px;
  bottom: auto;
}

.modal-show {
  display: block;
  animation-name: stretching;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  z-index: 12;
}

.modal-error {
  animation-name: shaker;
  animation-duration: 0.6s;
}

.modal-feedback-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 80px 37px;
  box-sizing: border-box;
}

.modal-feedback-form p {
  margin: 0;
  padding: 0;
}

.modal-feedback-form label {
  display: block;
  padding-bottom: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}

.item-modal.name {
  margin-bottom: 14px;
}

.item-modal input[placeholder] {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.item-modal {
  width: 220px;
}

.item-modal input {
  display: block;
  width: 220px;
  padding: 5px 0 5px 10px;
  box-sizing: border-box;
  border: 2px solid #C5C5C5;
  border-radius: 2px;
}

.text input {
  width: 460px;
  height: 114px;
  padding-bottom: 84px;
}

.btn-modal {
  width: 620px;
  background-color: var(--basic-smoky-white);
}

.btn-modal-feedback {
  width: 460px;
  box-sizing: border-box;
  margin: 37px 80px;
}

.close-cross {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 21px;
  height: 21px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.close-cross:before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 21px;
  height: 21px;
  background-image: url("../img/icon-close.svg");
}

.modal-feedback .close-cross {
  top: 14px;
  right: 11px;
}

/* Modal Map*/

.map-popup {
  position: absolute;
  width: 943px;
  height: 449px;
  top: 2369px;
  bottom: auto;
}

.map-show {
  display: block;
}

.map-popup .close-cross {
  top: 10px;
  right: 10px;
}

/* Modal Cart*/

.modal-cart {
  width: 620px;
  position: absolute;
  top: 655px;
  left: 32px;
  bottom: auto;
}

.modal-cart-show {
  display: block;
}

.modal-cart h3 {
  position: relative;
  margin: 0;
  padding: 66px 0 66px 0;
  font-family: Cuprum, "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}

.modal-cart h3:before {
  content: " ";
  position: absolute;
  top: 48px;
  left: 81px;
  width: 66px;
  height: 66px;
  background-image: url("../img/icon-mark.svg");
}

.btn-modal-cart {
  display: flex;
  margin: 0;
}

.modal-cart p {
  margin: 0;
  padding: 0;
}

.btn-modal-cart a {
  display: block;
  width: 192px;
  margin: 38px 10px 36px 114px;
}

.btn-modal-cart a:last-child {
  margin-left: 0;
  margin-right: 0;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.btn-modal-cart a:hover:last-child {
  color: var(--basic-white);
  background-color: var(--special-red-light);
}

.btn-modal-cart a:active:last-child {
  color: var(--basic-white);
  background-color: var(--special-red-dark);
}

.modal-cart .close-cross {
  top: 11px;
  right: 11px;
}
